
body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-size: 20px;
}


h1{
    color: #66BFBF;
    font-size: 90px;
 margin-top: 50px auto 0 auto;
 font-family: 'Sacramento', cursive;
 line-height: 2;


}
h2{
    
    color: #66BFBF;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}


h3{
    color: #11999E;
    font-family: 'Roboto', sans-serif;
}
p{
    line-height: 2;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom:none ;
    width: 4%;
    margin: 100px auto;
}

.top-container{
    background-color:#D1FFF3;
    position: relative;
    padding: 100px;
}
.middle-container{
margin: 100px 0;  
  
}
.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align:left ;
    line-height: 2;

}
.intro {
    width: 50%;
    margin: auto;
}
.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.top-cloud{
   position: absolute;
   right: 300px;
   top: 40px;

}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

a{
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;

    
}
a:hover{
    color: #EAF6F6;
}

.developer-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.coder-img{
 width: 25%;
 float: right;
 margin-left: 30px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;    
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #044b42, #2bc4ad);
    text-decoration: none;
  }


  .footer-link{
    color: #1F8A70;
  }